:root {
   --background-color: #fff;
   --background-light: #fff;
   --shadow-color: rgba(0, 0, 0, 0.2);
   --primary-color: rgb(255, 0, 86);
   --text-color: #0a0a0a;
   --text-light: #575757;
   --font-size: 16px;
   --animation-speed: 1;
}

// colors
// $backgroundColor: #fff;
// $backgroundLight: #fff;
// $shadowColor: rgba(0, 0, 0, 0.2);
// $primaryColor: rgb(255, 0, 86);
// $textColor: #0a0a0a;
// $textLight: #575757;

// $fontSize: 16px;
// $animationSpeed: 1;
